@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Alex Mitre Ingeniero y  desarrollador de Software </h1>
     <h2> soy Maestro innovador en tecnologías educativas y neurociencias</h2> 

     <img 
     id="foto"
     src="~/imagenes/imagen.png" alt ="foto de Alex">
</div>
 